### To determine declared platform ports: platforminfo -v bf_ifft/bf_ifft.xpfm
### AIE SDF graph "ports' are defined by PLIOs in test_dl8a.cpp
remote_ip_cache=./ipcache
#only work for PL kernels
dk=chipscope:p2a_0:M_AXIS
dk=chipscope:p2a_1:M_AXIS
dk=chipscope:a2p_0:S_AXIS
dk=chipscope:a2p_1:S_AXIS

[connectivity]
nk=axi4s_regslice_64b:4:p2a_0.p2a_1.a2p_0.a2p_1

#stream_connect=ai_engine_0.bfo0:bf_output_bf0
stream_connect=ai_engine_0.bfo0:a2p_0.S_AXIS
stream_connect=a2p_0.M_AXIS:bf_output_bf0

#stream_connect=ai_engine_0.ifo0a:ifft_output_a
stream_connect=ai_engine_0.ifo0a:a2p_1.S_AXIS
stream_connect=a2p_1.M_AXIS:ifft_output_a

stream_connect=ai_engine_0.ifo0b:ifft_output_b

#stream_connect=bf_input_din0:ai_engine_0.d0
stream_connect=bf_input_din0:p2a_0.S_AXIS
stream_connect=p2a_0.M_AXIS:ai_engine_0.d0

stream_connect=bf_input_din1:ai_engine_0.d1
stream_connect=bf_input_din2:ai_engine_0.d2
stream_connect=bf_input_din3:ai_engine_0.d3
#stream_connect=bf_input_cin0:ai_engine_0.c0

stream_connect=bf_input_cin0:p2a_1.S_AXIS
stream_connect=p2a_1.M_AXIS:ai_engine_0.c0

stream_connect=bf_input_cin1:ai_engine_0.c1
stream_connect=bf_input_cin2:ai_engine_0.c2
stream_connect=bf_input_cin3:ai_engine_0.c3
stream_connect=ifft_input_a:ai_engine_0.ifi0a
stream_connect=ifft_input_b:ai_engine_0.ifi0b

[vivado]
prop=run.impl_1.STEPS.OPT_DESIGN.TCL.PRE=./scripts/insert_ila_post_syn.tcl
prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=WLDrivenBlockPlacement
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=Explore
[advanced]
param=compiler.userPostSysLinkOverlayTcl=./scripts/insert_ila.tcl
